@mixin p{
	font-size: 18px;
	line-height: 1.4;
}

@mixin h1{
	font-size: 76px;
	line-height: 1.1;
	font-weight: 400;
}

@mixin h2{
	font-size: 44px;
	line-height: 1.2;
	font-weight: 400;
}

@mixin h3{
	font-size: 34px;
	line-height: 1.2;
	font-weight: 500;
}

@mixin h4{
	font-size: 24px;
	line-height: 1.3;
	font-weight: 500;
}

@mixin h5{
	font-size: 19px;
	line-height: 1.3;
	font-weight: 600;
}

@mixin h6{
	font-size: 16px;
	line-height: 1.3;
	font-weight: 600;
}

body{
	font-family: var(--main-font);
	color: var(--text-color);

	@include p;
}

.nowrap{
	white-space: nowrap;
}

.page-caption{
	@include h1;
}

.section-caption{
	.sc-title{
		@include h2;
	}
}