.how-we-work-section{
	padding-top: 75px;

	.section-top{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 52px;
	}

	.section-text{
		max-width: 414px;
		
		@media screen and (min-width: 768px){
			padding-top: 13px;
		}
	}

	@media screen and (max-width: 767px){
		.section-top{
			flex-direction: column;
		}
	}

	@media screen and (max-width: 575px){
		padding-top: 40px;
	}
}

.how-we-work-component{
	display: grid;
	grid-template-columns: 375px 1fr;
	width: 100%;
	height: 100vh;

	.cmp-sidebar{
		background: var(--primary);
		position: relative;
		padding: 100px 30px 100px 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cmp-title{
		font-size: 16px;
		line-height: 1.3;
		color: #fff;
		font-weight: 600;
		position: absolute;
		top: 35px;
		left: 53px;
	}

	.cmp-nav{
		display: grid;
		grid-gap: 22px;
		color: #fff;

		li{
			button{
				color: rgba(#fff, .7);
				position: relative;
				transition: all .5s;
				@include h2;

				&:before{
					content: '→ ';
					display: block;
					position: absolute;
					right: 100%;
					top: -0.1em;
					opacity: 0;
					transition: all .5s;
				}

				span{
					transition: transform .5s;
					display: block;
					transform-origin: left bottom;
				}

				&:hover{
					color: #fff;

					span{
						transform: skewX(-15deg);
					}
				}

				&.current{
					padding-left: 1.25em;
					color: #fff;

					span{
						transform: skewX(-15deg);
					}

					&:before{
						transform: translateX(1.25em);
						opacity: 1;
					}
				}
			}
		}
	}

	.cmp-content{
		position: relative;
		overflow: hidden;
	}

	.cmp-slides{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		.slide{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	@media screen and (min-width: 1200px){
		.cmp-sidebar{
			.container{
				padding: 0;
				max-width: unset;
			}
		}
	}

	@media screen and (max-width: 1199px){
		grid-template-columns: 1fr;
		height: auto;
		min-height: auto;

		.cmp-sidebar{
			padding: 50px 0;
			height: auto;
		}

		.cmp-title{
			position: static;
			margin-bottom: 30px;
		}

		.cmp-nav{
			display: flex;
			justify-content: space-between;

			li{
				button{
					font-size: 28px;
				}
			}
		}

		.cmp-slides{
			position: relative;
			
			&:before{
				content: '';
				display: block;
				padding-top: 75.117%;
			}
		}
	}

	@media screen and (max-width: 767px){
		.cmp-sidebar{
			padding: 32px 0;
		}

		.cmp-nav{
			li{
				button{
					font-size: 22px;
				}
			}
		}
	}

	@media screen and (max-width: 575px){
		.cmp-sidebar{
			padding: 24px 0;
		}

		.cmp-title{
			margin-bottom: 16px;
		}

		.cmp-nav{
			gap: 16px;

			li{
				button{
					font-size: 16px;
					padding-left: 0 !important;

					&:before{
						display: none;
					}
				}
			}
		}
	}
}

.image-with-labels-block{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	> img{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: center center;
		display: block;
	}

	.block-labels{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;

		.item{
			position: absolute;
			translate: -50% -50%;
			transition: opacity var(--t);

			&.hide{
				opacity: 0 !important;
			}

			.item-opener{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: var(--primary);
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: 0 0 0 9px rgba(#5A30F0, .2);

				&:before{
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 12c0 .5523.4477 1 1 1s1-.4477 1-1V7h5c.5523 0 1-.4477 1-1s-.4477-1-1-1H7V0c0-.5523-.4477-1-1-1S5-.5523 5 0v5H0c-.5523 0-1 .4477-1 1s.4477 1 1 1h5v5Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
					pointer-events: none;
				}

				@media screen and (max-width: 575px){
					width: 24px;
					height: 24px;
					box-shadow: 0 0 0 6px rgba(#5A30F0, .2);

					&:before{
						width: 10px;
						height: 10px;
					}
				}
			}

			.item-text{
				position: absolute;
				left: 50%;
				translate: -50%;
				bottom: calc(100% + 11px);
				background: #fff;
				border-radius: 2px;
				padding: 8px 10px;
				color: var(--text-light);
				font-size: 13px;
				line-height: 1.3;
				font-weight: 500;
				width: 180px;
				transform: translateY(-20px);
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: all var(--t);

				&:after{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4px 0 4px;
					border-color: #fff transparent transparent transparent;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: -4px;
				}

				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 11px;
					position: absolute;
					left: 0;
					top: 100%;
				}
			}

			&:hover{
				z-index: 20;

				.item-opener{
					box-shadow: none;
					rotate: 45deg;
				}

				.item-text{
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
	}
}